body {
  font-family: "Open Sans";
}

.container-fluid {
  max-width: 1200px;
  margin: auto;
}

.jumbotron {
  margin-bottom: 60px;
}

.navbar {
  font-family: "Open Sans", Verdana, sans-serif;
}

/* Main Sections */

.home {
  margin-top: 50px;
  min-height: 100vh;
  width: 100%;
  padding: 40px;
  background-color: #0072BB;
}

.portfolio {
  min-height: 100vh;
  background-color: mediumaquamarine;
  width: 100%;
  padding: 40px;
}

.portfolio a {
  text-decoration: none;
  color: #000;
}

.contact {
  min-height: 100vh;
  background-color: #E18335;
  width: 100%;
  padding: 40px;
}

/* End Main Sections */
/* Headers, Subheaders, Special Text */

.header {
  margin-top: 40px;
  font-size: 52px;
}

.subHeader {
  font-size: 20px;
  margin-bottom: 35px;
  max-width: 600px;
  margin: 30px auto;
}

.white {
  color: #F0F3F5;
}

#intro {
  margin: 0 auto 20px auto;
  
  font-size: 50px;
  text-align: left;
  color: #000;
  font-family: "Open Sans", Verdana, sans-serif;
}

.introText {
  font-size: 18px;
  color: #000;
  font-family: "Open Sans", Verdana, sans-serif;
  padding: 5px;
  text-align: left;
  margin-bottom: 80px;
}

/* End Headers, Subheaders, Special Text */
/* Images and Icons */

.imgThumbs {
  padding: 10px;
  transition: opacity ease-out .2s;
  transition: transform ease .1s;
}

.imgThumbs:hover {
  opacity: .6;
  transform: scale(1.02);
}

.myIcons {
  max-width: 100px;
  padding: 10px;
  transition: all ease .3s;
}

.myIcons:hover {
  border: 2px dashed black;
  border-radius: 90px;
}

.icons {
  text-align: center;
  padding-top: 20px;
}

/* End Images and Icons */
/* THE BUTTON */

.button {
  margin: auto;
  text-align: center;
  font-family: "Open Sans", Verdana;
  font-size: 32px;
  background-color: #FAFAFA;
  width: 150px;
  height: 50px;
  transition: background-color .5s;
  color: #000;
  border-radius: 10px;
}

.button:hover {
 
  
  -webkit-box-shadow: inset 6px -2px 51px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 6px -2px 51px -13px rgba(0, 0, 0, 0.75);
  box-shadow: inset 6px -2px 51px -13px rgba(0, 0, 0, 0.75);
}

#hire:hover {
  color: #0072BB;
}

/* End the Button */
/* Form Layout */

.form-layout {
  max-width: 700px;
  margin: 30px auto 0 auto;
}

label {
  color: #fff;
}

textarea {
  width: 100%;
}

#submitButton {
  display: block;
  margin: 0 auto;
}

.comments {
  padding: 10px;
  border-radius: 5px;
}

.title {
  color: #F0F3F5;
}


/* End Form Layout */

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .imgThumbs {
      border: none;
    }
    .jumbotron {
      margin-top: 25px;
    }
    .home {
      padding: 2px;
    }
    .button {
      max-width: 250px;
      height: 75px;
      margin-bottom: 30px;
    }
    #hire{
      font-size: 36px;
      line-height: 1.8em;
    }
    .myIcons{
      border: none;
    }
    #intro{
      font-size: 24px;
      text-align: center;
    }

    .introText {
      font-size: 10px;
      text-align: center;
    }
}

/* SVG Animation */

.myGuy {
  text-align: center;
  margin: 10px auto 20px auto;
  padding-bottom: 0px;  
}

.newGuy {
 margin: auto;
 margin-top: 20px;
 text-align: center;
}

#LowerLip {
  opacity: 0;
  animation: smile 12s 1s infinite;
}

#LeftAction {
  opacity: 0;
  animation: click .25s infinite;
}

#RightAction {
  opacity: 0;
  animation: click .20s infinite;
}

#FullHead2 {
  transform: translate(0px, 60px);
  animation: headMove 15s 1s infinite;
}

#Eyes {
  animation: blink 5s 4s infinite;
  transform-origin: 50%;
}

#RightHand {
  transform: translate(10px, 100px);
  animation: type .19s  infinite;
}

#LeftHand {
  transform: translate(-15px, 100px);
  animation: type .17s  infinite;
}

#Right_Arm,
#Left_Arm {
  animation: breathe 1.5s ease-out alternate infinite;
}

#Eyes2 {
 animation: blink 5s 4s infinite;
  transform-origin: 50%;
}

#CupEyes {
  animation: blink 5s infinite;
  transform-origin: 50%;
}

#FullHead {
  animation: breathe 1.5s ease-out alternate infinite;
}

#Coffee_Steam {
  opacity: 0;
  animation: smoke 2.5s ease-in infinite;
}

@keyframes smoke {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-8px);
    opacity: 0;
  }
}

@keyframes breathe {
  100% {
    transform: translateY(8px);
  }
}

@keyframes click {
  75% {opacity: 1}
}
@keyframes smile {
  50% {opacity: 1}
}

@keyframes headMove {
  50% {transform: translate(0px, 0px)}
}

@keyframes type {
  100% {transform: translate(0px, 20px)}
}

@keyframes blink {
  0% { transform: scaleX(1) scaleY(1); } 
  1% { transform: scaleX(1.2) scaleY(0.1); } 
  2% { transform: scaleX(1) scaleY(1); } 
  60% { transform: scaleX(1) scaleY(1); } 
  61% { transform: scaleX(1.2) scaleY(0.1);} 
  62% { transform: scaleX(1) scaleY(1); } 
  100% { transform: scaleX(1) scaleY(1);
}
